.c-country{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: stretch;
  position: relative;
  border-radius: $defaultradius;
  height: 22.5rem;

  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #545454;
    opacity: 0.5;
    border-radius: $defaultradius;
    transition: $defaulttransition;
  }
  
  &__text {
    position: relative;
    text-align: center;
    margin: 2.5rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: $defaulttransition;
  }

  &__header {
   transition: all .4s linear;
   position: absolute;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
  }

  &__name, &__state {
    text-transform: uppercase;
  }

  &__name {
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0;
  }
  
  &__state {
    margin: .5rem 0 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: $defaulttransition;
    margin-top: auto;

    &__paragraph {
      margin: 3rem auto 2.2rem;
      max-width: 18rem;
      transition: $defaulttransition;
      transform: translateY(2rem);
      overflow: hidden;
      max-height: 7rem;
      position: absolute;
      top: 23%;
      left: 0;
      right: 0;
    }
  }
  
  &__button {
    background: rgba(0,0,0,0);
    border: 1px solid #fefefe;
    font-size: 12px;
    border-radius: .2rem;
    padding:.8rem 1.6rem;
    margin: auto auto 0;
    transition: $defaulttransition;
  }
}

.c-country:hover {
  &::before {
    opacity: .8;
  }
  .c-country {
    &__header {
      top: 0;
      transform: translateY(0) 
    }

    &__details {
      opacity: 1;
      
      &__paragraph {
        transform: translateY(-19px);
      }
    }
  }
}