.c-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin-bottom: $spacegap;
  border-radius: $defaultradius;
  display: flex;
  align-items: center;
  height: 32.5rem;
  
  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #545454;
    opacity: .5;
    border-radius: $defaultradius;
  }

  &__text{
    position: relative;
    padding:3rem 2rem;
    max-width: 37rem;
    margin: 0 auto;
  }

  &__description {
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0;
  }
  

  &__title {
    mask-image: url('../img/Valtech Logo.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $white;
    height: 2.9rem;
    width: 100%;
    margin: 1.2rem 0 0;
  }

}
