.l-align {
  margin: 5rem auto;
  max-width: 975px;
  padding: 0 $spacegap;
}

.l-grid {
  display:grid;
  grid-gap: $spacegap;

  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    
    &__item {
      &:first-child {
        grid-column: 1/3;
      }
      &:last-child {
        grid-column: 3/5;
      }
    }
  }
}