/*color white*/
body,
html,
h1,h2,h3,
p,
button,
input,
select,
header,
footer,
main,
article,
section,
span{
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}