<template>
  <div class="l-grid__item c-country" :style="{'background-image': `url('${place.background}')`}">
    <div class="c-country__text">
      <div class="c-country__header">
          <p class="c-country__name">{{place.country}}</p>
          <h2 class="c-country__state">{{place.state}}</h2>
      </div>
      <div class="c-country__details">
        <p class="c-country__details__paragraph">{{place.info}}</p>
        <button class="c-country__button">Explore more</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['place']
}
</script>
