<template>
  <div class="c-header" :style="{'background-image': `url('${content.background}')`}">
    <div class="c-header__text">
      <p class="c-header__description">{{content.description}}</p>
      <h1 class="c-header__title"></h1>
      <p>{{content.info}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['content']
}
</script>
