<template>
   <div class="l-align" id="app">
			<head-info :content="info.header"></head-info>
			<div class="l-grid">
				<country v-for="place in info.places" :place="place" :key="place.state"></country>
			</div>
	 </div>
</template>
<script>
import HeadInfo from './components/HeaderInfo.vue'
import Country from './components/Country.vue'
import info from './resources/data/container'
export default {
	data() {
		return {
			info
		}
	},
  components: {
		HeadInfo,
		Country
	}
}
</script>
